ul.spot_list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

ul.spot_list li {
    display: flex;
    flex-direction: column;
}

ul.spot_list li header {
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 4px;
}